---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
$link-color: red;
$masthead-link-color: black;
$serif      : 'Merriweather',Georgia, Times, serif;
$sans-serif : 'Open Sans', sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;
$global-font-family : $sans-serif;
$header-font-family : $sans-serif;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    line-height: 1.4;
    font-size: 0.75em;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

.teamwrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;  
  align-items: start;
}
