---
layout: default
---

<div id="main" role="main">  

  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">      
      <section class="page__content" itemprop="text">
        <h1>Statusmeldung</h1>
        <p>
          Thema:&nbsp;  <strong>{{page.title}}</strong><br>
          Beginn:&nbsp; <strong>{{page.Beginn}}</strong><br>
          Ende:&nbsp;&nbsp;   <strong>{{page.Ende}}</strong><br>
          Status:&nbsp; <strong>{{page.Status}}</strong>
        </p>
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">        
      </footer>      
    </div>
    
  </article>
  
</div>
